extends layout

block content

	// A hidden input named public_token will be appended to this form once the user has completed the Link flow. Link will then submit the form, sending the public_token to your server.
	form(id="some-id" method="GET" action="?")

	// To use Link with longtail institutions on Connect, set thedata-long-tail attribute to 'true'. See the Parameter Reference for additional documentation.
	script(src="https://cdn.plaid.com/link/stable/link-initialize.js" data-client-name="HealthDollars" data-form-id="some-id" data-key="test_key" data-product="connect" data-env="tartan" data-long-tail="true")