extends layout

block content
  .container
      .logo HealthDollars
      h2 Connect your bank, credit and HSA account and HealthDollars will do the rest.
      .dual-button
        div
          span.radio-button#sandboxLinkButton Sandbox Mode
        div
          span.radio-button#liveLinkButton Regular Mode
      
      script(src="https://cdn.plaid.com/link/stable/link-initialize.js")
      
      script.
        var sandboxHandler = Plaid.create({
          clientName: 'SUM',
          env: 'tartan',
          product: 'auth',
          key: 'test_key',
          onSuccess: function(token) {
            window.location = '/accounts.html?public_token=' + token;
          },
        });

        var liveHandler = Plaid.create({
          clientName: 'SUM',
          env: 'tartan',
          product: 'auth',
          key: '{YOUR_PUBLIC_KEY}',
          onSuccess: function(token) {
            window.location = '/accounts.html?public_token=' + token;
          },
        });

        // Open the "Institution Select" view using the sandbox Link handler.
        document.getElementById('sandboxLinkButton').onclick = function() {
          sandboxHandler.open();
        };

        // Open the "Institution Select" view using the live Link handler.
        document.getElementById('liveLinkButton').onclick = function() {
          liveHandler.open();
        };
                  